DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=ALLOWED_HOSTS=web-box-d9q8.onrender.com,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://web-box-d9q8.onrender.com
CORS_ALLOWED_ORIGINS=https://web-box-tan.vercel.app/,http://localhost:5173
DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require&channel_binding=require
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
